
	<section id="features" class="container special">
<!-- 		<header>
			<h2>Morbi ullamcorper et varius leo lacus</h2>
			<p>Ipsum volutpat consectetur orci metus consequat imperdiet duis integer semper magna.</p>
		</header> -->
		<div class="row">
			<article class="col-4 col-12-mobile special">
				<a href="" class="image featured"><img src="{{ site.baseurl }}/images/{{ page.features[0].photo }}" alt="{{ site.baseurl }}/images/lorem-ipsum.jpg" id="custom"/></a>
				<header>
					<h3><a href="#">{{ page.features[0].title }}</a></h3>
				</header>
				<p>
					{{ page.features[0].content }}
				</p>
			</article>
			<article class="col-4 col-12-mobile special" style="background-image: url("/images/header.jpg")">
				<a href="#" class="image featured"><img src="{{ site.baseurl }}/images/{{ page.features[1].photo }}" alt="{{ site.baseurl }}/images/lorem-ipsum.jpg" id="custom"/></a>
				<header>
					<h3><a href="#">{{ page.features[1].title }}</a></h3>
				</header>
				<p>
					{{ page.features[1].content }}
				</p>
			</article>
			<article class="col-4 col-12-mobile special">
				<a href="#" class="image featured"><img src="{{ site.baseurl }}/images/{{ page.features[2].photo }}" alt="{{ site.baseurl }}/images/lorem-ipsum.jpg" id="custom"/></a>
				<header>
					<h3><a href="#">{{ page.features[2].title }}</a></h3>
				</header>
				<p>
					{{ page.features[2].content }}
				</p>
			</article>
		</div>
	</section>