<!-- Contact -->
<section class="contact">
	<header>
		<h3>Need to get in touch?</h3>
	</header>
	<p>Here are several convenient ways to reach me.</p>
	<ul class="icons">
		<!-- Email -->
		<li><a href={{ site.email | prepend: "mailto:" }} class="icon fa-envelope"><span class="label">Email</span></a></li>
		<!-- Twitter -->
		<li><a href={{ site.twitter.url }} class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<!-- Facebook -->
		<!-- <li><a href={{ site.facebook.url }} class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
		<!-- Pinterest -->
		<!-- <li><a href={{ site.pinterest.url }} class="icon fa-pinterest"><span class="label">Pinterest</span></a></li> -->
		<!-- Instagram -->
		<li><a href= {{ site.instagram.url }} class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<!-- Github -->
		<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
		<!-- LinkedIn -->
		<li><a href={{ site.linkedin.url }} class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
	</ul>
</section>

<!-- Copyright -->
<div class="copyright">
	<ul class="menu">
		<li>Design: {{ site.name }}</li><li>&copy; {{ site.name }} {{ site.time | date: "%Y" }}.&emsp;All rights reserved.</li><li>Template: <a href="http://html5up.net">HTML5 UP</a></li>
	</ul>
</div>