{% for post in site.posts limit:1 %}
<article id="main" class="container special">
	<a href={{ post.url }} class="image featured"><img src="{{ site.url }}{{ site.baseurl }}/images/{{ post.header_photo }}" alt="{{ site.url }}{{ site.baseurl }}/images/header.jpg" /></a>
	<header>
		<h2><a href={{ post.url }}>{{ post.title }}</a></h2>
		<p>
			{{ post.date | date: '%Y'}}
		</p>
	</header>
	<p>
		{{ post.excerpt }}
	</p>
	<footer>
		<a href={{ post.url }} class="button">Continue Reading</a>
	</footer>
</article>
{% endfor %}