<section class="col-4 col-12-mobile">
	<header>
		<h2 class="icon fa-camera circled"><span class="label">Photos</span></h2>
	</header>
	<div class="row gtr-25">
		<div class="col-6">
			<a href="#" class="image fit"><img src="{{ site.baseurl }}/images/pic10.jpg" alt="" /></a>
		</div>
		<div class="col-6">
			<a href="#" class="image fit"><img src="{{ site.baseurl }}/images/pic11.jpg" alt="" /></a>
		</div>
		<div class="col-6">
			<a href="#" class="image fit"><img src="{{ site.baseurl }}/images/pic12.jpg" alt="" /></a>
		</div>
		<div class="col-6">
			<a href="#" class="image fit"><img src="{{ site.baseurl }}/images/pic13.jpg" alt="" /></a>
		</div>
		<div class="col-6">
			<a href="#" class="image fit"><img src="{{ site.baseurl }}/images/pic14.jpg" alt="" /></a>
		</div>
		<div class="col-6">
			<a href="#" class="image fit"><img src="{{ site.baseurl }}/images/pic15.jpg" alt="" /></a>
		</div>
	</div>
</section>