
<!-- Intro Start -->

<header class="post-intro" {% if page.bgimage %}style="background-image: url({{ page.bgimage }})"
{% endif %}>
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="brand-heading">&nbsp;</h1>
            <h1 class="brand-heading">&nbsp;</h1>
            <span class="intro-text">
              <h1><strong>{{ page.title }}</strong></h1>
              <h4>
                <strong>{{ page.date | date_to_string }}</strong>
                <small>
                  <br />
                  category:
                  <a class="category" href="{{site.baseurl}}/categories/{{page.category | downcase}}.html">
                    {{ page.category }}
                  <br />
                  {% for tag in page.tags %}
                    <a class="tag" href="{{site.baseurl}}/tags/{{tag | downcase}}.html">#{{ tag }}</a>
                  {% endfor %}
                </small>
              </h4>
            </span>
            <h5>&nbsp;</h5>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
