<nav id="nav">
	<ul class="links">
		{% for pagex in site.pages_list %}
			<!-- {% if includes.name == pagex %}
				<li class="active>">
			{% else %}
				<li>
			{% endif %}-->
			<li><a href={{ pagex | append: '.html'}}>{{includes.name}}</a></li>
		{% endfor %}
		<!-- <li class="active"><a href="index.html">Page 1</a></li>
		<li><a href="generic.html">Page 2</a></li>
		<li><a href="elements.html">Page 3</a></li> -->
	</ul>
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
	</ul>
</nav>