<!DOCTYPE html>
<html>
	<head>
		{% include header.html %}
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">
			<!-- Header -->
			<div id="header" style="background-image: url({{ site.baseurl }}/images/{{ page.header_photo }})">
				<!-- "background-image: url({{ site.baseurl }}/images/{{ page.header_photo }}" -->
				<!-- Inner -->
				<div class="inner">
					<header>
						<h1><a href="index.html" id="logo">{{ page.title }}</a></h1>
						<hr />
						<p>{{ page.date | date_to_long_string }}</p>
					</header>
					<footer>
						<a href="#scroll" class="button circled scrolly">&darr;</a>
					</footer>
				</div>
				<!-- Nav -->
				{% include nav.html %}
			</div>
			<div class="wrapper style1" id="scroll">
				<article id="main" class="container special" name="article">
					<header>
						<h2>{{ page.title }}</h2>
					</header>
					<p>{{ content }}</p>
				</article>
				<hr />
				{% include article-footer.html %}
			</div>
			{% include footer.html %}
			{% include scripts.html %}
		</div>
	</body>
</html>