<!DOCTYPE HTML>
<html>
	<head>
		{% include header.html %}
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">
			<!-- Header -->
			<div id="header" style="background-image: url({{ site.baseurl }}/images/{{ page.header_photo }})">
				<!-- Inner -->
				<div class="inner">
					<header>
						<h1><a href="index.html" id="logo">{{ page.title }}</a></h1>
					</header>
				</div>
				<!-- Nav -->
				{% include nav.html %}
			</div>
			<!-- Main -->
			<div class="wrapper style1" id="scroll">
				<div class="container">
					<article id="main" class="special">
						<header>
							<h2><a href="#">{{ page.title }}</a></h2>
							<p>
								{{ page.subtitle }}
							</p>
						</header>
						<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
						<section>
							{{ content }}
						</section>
					</article>
					<hr />
					{% include article-footer.html %}
				</div>
			</div>
			<!-- Footer -->
			{% include footer.html %}
		</div>
		<!-- Scripts -->
		{% include scripts.html %}
	</body>
</html>